/* {font-size:13pt;font-weight:normal;} */

@media (min-width: 64em) {
	.row {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row-reverse;
	}
	.col { flex-grow: 1; }
}

html {
	scrollbar-face-color: #646464;
	scrollbar-base-color: #646464;
	scrollbar-3dlight-color: #646464;
	scrollbar-highlight-color: #646464;
	scrollbar-track-color: #000;
	scrollbar-arrow-color: #000;
	scrollbar-shadow-color: #646464;
	scrollbar-dark-shadow-color: #646464;
  }
  
  ::-webkit-scrollbar { width: 8px; height: 3px;}

  ::-webkit-scrollbar-track {  background-color: #646464;}
  ::-webkit-scrollbar-track-piece { background-color: #000;}
  ::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
  ::-webkit-scrollbar-corner { background-color: #646464;}}
  ::-webkit-resizer { background-color: #666;}


::selection {
    color: #000;
    background: #FF8700;
}

.yeed {
	display: block;
	pointer-events: none;
    z-index: 9000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
	height: 100%;
	box-shadow: inset 0 0 100px 50px rgba(255,135,0,0.15);
}

.crt-effects {
    background-size: cover;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: -64px;
    right: 0;
    overflow: hidden;
}

.scanlines:before {
    width: 100%;
    height: 2px;
    z-index: -1;
    background: rgba(0,0,0,0.35);
    opacity: 1;
    animation: scanline 6s linear infinite;
}
.scanlines:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    background: linear-gradient(to bottom, transparent 50%, rgba(0,0,0,0.35) 51%);
    background-size: 100% 4px;
    animation: scanlines 420ms steps(60) infinite;
}
.scanlines:before, .scanlines:after {
    display: block;
    pointer-events: none;
    content: '';
    position: absolute;
}


.grid {
	border-collapse: collapse;
}
.col {
	border: 6px double #fb5;
	padding: 1em;
}

.image{
	margin-top: 3rem;
	display: flex;
	justify-content: center;	
}

.big {
	font-size: 4rem;
	display: flex;
	justify-content: center;
	z-index: -1;
}

.one {
	position: relative;
	text-shadow:0 0 7px rgb(255, 119, 0), 0 0 9px rgb(255, 119, 0), 0 0 20px rgb(255, 119, 0);

}

.two {
	position: absolute;
	top: 67;
	filter: blur(3px);
	text-shadow: 0px 0px 9px rgba(255, 119, 0, 0.335);
}

.three {
	color: rgb(255, 225, 143);
	text-shadow: 0 0 10px  rgb(255, 119, 0), 0 0 20px  rgb(255, 119, 0), 0 0 30px  rgb(255, 119, 0), 0 0 40px rgb(255, 119, 0), 0 0 50px rgb(255, 119, 0), 0 0 60px rgb(255, 119, 0);
}




.user-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	list-style-type: none;
	padding: 0;
}
.user-list li {
	overflow: hidden;
	text-overflow: ellipsis; 
	white-space: nowrap;
	flex: 10em;
}
.user-list::after {
	content: "";
}

body {
	margin: auto;
	padding: 1em;
	max-width: 64em;
	font-family: "courier new", monospace;
	color: #fb5;
	background: #111;
	word-wrap: break-word;
}
a {
	text-decoration: none;
	color: #f70;
	font-weight: bold;
	padding-right: 0.25em;
}
a:hover {color: #f20;}
hr {
	border-color: #fb5;
}
.text-center {
	text-align: center
}
.advisory {
	background: #fc4;
	color: #222;
	font-weight: bold;
	padding: 1em;
	border-radius: 0.25em;
}
h1 {
	text-transform: uppercase;
		color: #fb5;
		font-family: monospace;
}

/* THEGOODS */
#fancyboi::before {
	content: "$ ";
}
@media (prefers-reduced-motion: no-preference) {
	@keyframes flash {
		50% { opacity: 0; }
	}
	@keyframes reveal {
		from { width: 2em; } /* Width of ::before */
		  to { width: 100%; }
	}
	#fancyboi {
		overflow: hidden;
		white-space: nowrap;
		animation: reveal 4s linear;
		text-overflow: "█";
	}
	#fancyboi::after {
		content: "█";
		animation: flash 0.5s step-end infinite;
	}
}
/* SDOOGEHT */

.sourceCode {
 color:#008000;
}

code > span.fl { 
 color: #008000; 
}

 /* Style the navbar */
#navbar {
	overflow: hidden;
	background-color: #fb5;
	color: #222;
	z-index: 99;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 0.25em;
}

#navbar a:hover {
	background-color: #f93;
}

/* Navbar links */
#navbar a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

/* Page content */
.content {
	padding-top: 5px;
}

input[type="text"],
textarea {
	background-color: #333;
	color: darkorange;
}

div.alert-warning {
	background-color: darkred;
}
div.alert-success {
	background-color: darkgreen;
}

/* Mobile */
@media (max-width: 768px) {
	td {
		display: block;
	}
}
